/* CORES */

/* 
Formatos de cor
color: red;[tipo nome(em inglês)]
color: #FF0000; [tipo hexadecimal (A - F e 0 - 9)]
color: rg (255, 0, 0); [Tipo rgb]
color: rgba(255, 0, 0, 0.5); [Tipo rgb transparente]
color: hsl(0, 100%, 50%); [Tipo HSL: matriz, saturação e luminosidade]
*/

.nome{
    color: red;

}

.hexadecimal{
    color: #FF0000;
}

.rgb{
    color:rgb(255, 0, 255)
}

.rgb-transparente{
    color:rgb(255, 0, 0, 0.5)
}


.hsl{
    color:hsl(0,50% , 50%)
}

/* Cores de Fundo

backgorund-color: #3333;
*/
/* background: linear-gradient(to right, #f8fc03, #030300);
    [linear-gradiente: cria degradês horizontais, verticais ou diagonais]
     */


#cor-de-fundo{
    /* background-color: #65aded */
    background: linear-gradient(to right, #f8fc03, #030300);
    /* background-color: rgba(0, 0, 0, 0.4); */
}